@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
 margin: 0;
  padding: 0; 
  background-color: rgb(203, 223, 223);
}

nav {
  background-color: rgb(146, 182, 182);
  display: flex;
  align-items: center;
  height: 14vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  
  margin-right: 25px;
  font-size: 20px;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  color: white;
  font-size: 22px;
  transition: ease-in-out;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

nav ul li .active {
  color: black;
  font-weight: bolder;
}

.nav-left {
  flex: 50%;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 25px;
}

.nav-right a {
  background-color: rgb(0, 0, 36);
  padding: 8px 20px;
  color: white;
  border-radius: 10px;
}

.nav-right a:hover{
  background-color: black;
  color: aqua;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  align-items: center;
}

section {
  display: flex;
  width: 90%;
  justify-content: center;
  background-color: rgb(193, 226, 226);
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(2, 156, 156, 0.438);
}




.left {
  flex: 70%;
  margin-right: 50px;
  width: 100%;
  /* margin: 50px 30px 50px -50px; */
  
}

.left h2{
  color: rgb(1, 18, 34);
  margin: 0 auto;
  text-align: left;
}

.right {
  flex: 30%;
  color: rgb(1, 14, 14);
  
}

.social-media i {
  margin: 0px auto;
  padding: 5 15;
  font-size: 40px;
  cursor: pointer;
}

.social-media i:hover{
  background-color: rgb(148, 253, 253);
  transition-duration: 0.5s;
  border-radius: 20px;
}

.lwf{
  color: inherit;
  text-decoration: inherit;
}

.contact{
  background-color: rgb(0, 0, 41);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 10px 30px;
}

.contact:hover{
  background-color: black;
  color: aqua;
}

.cv{
  background: none;
  border: none;
  padding: 10px;
}

.cv:hover {
  background-color: rgb(148, 253, 253);
  transition-duration: 0.5s;
  border-radius: 20px;
  color: black;
}

button{
  margin: 20px 10px;
  padding: 5 15;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: aqua;
}

#barsmenu{
  display: none;
}

.hamburger-nav-container{
  font-size: 23px;
  list-style-type: none;
  display: none;
  background-color: rgb(103, 136, 136);
}

.hamburger-nav-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: none;
  font-size: large;
  color: #000000;
}

.hamburger-nav-container a:hover{
  color: rgb(198, 241, 248);
  font-weight: bolder;
  padding: 12px;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.hamburger-nav-container .hamburger-active {
  color: #ffff(247, 247, 247);
  font-size: larger;
  font-weight: bolder;
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .card-container {
    width: 100%;
  }

  .right {
    flex: 100%;
    justify-content: center;
    display: flex;
    margin-top: 30px;
  }

  .left {
    margin: auto 0px;
    flex: 100%;
    display: flex;
    flex-direction: column;
  }
  

  .social-media{
    justify-content: center;
    margin: 10px auto;
  }

  .buttoncontact{
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  section {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .item-collapse {
    display: none;
  }

  #barsmenu {
    display: block;
  }
}